@mixin siteContainer {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.container {
  @include siteContainer();
}

@mixin siteButton {
  background: #3671e9;
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 16px 34px;
  border-radius: 32px;
  border: none;
  cursor: pointer;
}
.btn {
  @include siteButton;
}
@mixin sitebuttonhover {
  background-color: #3fb4d5;
}
.btn:hover {
  @include sitebuttonhover;
}
@mixin sitebuttonactive {
  background-color: #3671e9;
}
.btn:active {
  @include sitebuttonactive;
}
@mixin navhover{
  color: #3671e9;
}


